<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.source.system.mapper.MallCommunityPicMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="cn.source.system.domain.MallCommunityPic">
        <id column="id" property="id"/>
        <result column="community_id" property="communityId"/>
        <result column="pic_url" property="picUrl"/>
    </resultMap>

    <insert id="batchInsert">
        INSERT INTO mall_community_pic (id,community_id,pic_url) VALUES
        <foreach collection="list" item="item" index="index" separator=",">
            (#{item.id},#{item.communityId},#{item.picUrl})
        </foreach>
    </insert>


</mapper>
