// 主色板
$--color-primary: #409EFF !default;
$--color-success: #67C23A !default;
$--color-warning: #E6A23C !default;
$--color-danger: #F56C6C !default;

// 文字色
$--color-text-primary: #303133 !default;
$--color-text-regular: #606266 !default;
$--color-text-secondary: #909399 !default;

// 边框色
$--border-color-base: #DCDFE6 !default;

// 阴影
$--box-shadow-base: 0 2px 12px 0 rgba(0, 0, 0, 0.1) !default;

// 响应式断点
$--sm: 768px !default;
$--md: 992px !default;
$--lg: 1200px !default;
$--xl: 1920px !default;